<div role="dialog" tabindex="-1" aria-labelledby="modal_header" class="slds-modal slds-fade-in-open">
  <div class="slds-modal__container">
    <div class="slds-modal__header">	
	 <button class="slds-button slds-modal__close slds-button--icon-inverse"  ng-click="$ctrl.goBack()">
        <close-icon class="slds-button__icon slds-button__icon--large"></close-icon> 
        <span class="slds-assistive-text">Close</span>
      </button>      
      <h2 id="modal_header" class="slds-text-heading--medium">{{$ctrl.letter.subject}}</h2>
    </div>
    <div class="slds-modal__content slds-p-around--medium">
      <div>
		<p><b>To:</b> {{$ctrl.letter.to}}</p><br/>
        <p>{{$ctrl.letter.body}}</p>		
      </div>
    </div>
    <div class="slds-modal__footer">   
		<span class="slds-m-right--small" ng-if="$ctrl.deleting">Deleting...</span>
      <button class="slds-button slds-button--brand" ng-click="$ctrl.deleteMail($ctrl.letter._id)" ng-disabled="$ctrl.deleting">Delete</button>      	
    </div>
  </div>
</div>
<div class="slds-backdrop slds-backdrop--open"></div>