  <article class="slds-card slds-card--narrow slds-m-vertical--small">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <span class="slds-avatar slds-avatar--medium">
		  <img ng-src={{$ctrl.contact.avatarUrl}} alt={{$ctrl.contact.fullName}} />
		</span>
      </div>
      <div class="slds-media__body slds-truncate">
        <h2>
          <a href="javascript:void(0);" class="slds-text-link--reset">
            <span class="slds-text-heading--small">{{$ctrl.contact.fullName}}</span>
          </a>
        </h2>
      </div>
    </header>
  </div>
  <div class="slds-card__body">
    <div class="slds-card__body--inner">
      <div class="slds-tile">
        <div class="slds-tile__detail slds-text-body--small">
          <dl class="slds-dl--horizontal">
            <dt class="slds-dl--horizontal__label">
              <span class="slds-truncate" title="Type">Email:</span>
            </dt>
            <dd class="slds-dl--horizontal__detail slds-tile__meta">
              <span class="slds-truncate" title="Visit">{{$ctrl.contact.email}}</span>
            </dd>
            <dt class="slds-dl--horizontal__label">
              <span class="slds-truncate" title="Date">Birthdate:</span>
            </dt>
            <dd class="slds-dl--horizontal__detail slds-tile__meta">
              <span class="slds-truncate" title="1/31/15 3:45PM">{{$ctrl.contact.birthdate | date:'yyyy-MM-dd'}}</span>
            </dd>
			<dt class="slds-dl--horizontal__label">
              <span class="slds-truncate" title="Date">Gender:</span>
            </dt>
            <dd class="slds-dl--horizontal__detail slds-tile__meta">
              <span class="slds-truncate" title="1/31/15 3:45PM">{{$ctrl.contact.gender == 'F' ? "Female" : "Male"}}</span>
            </dd>
			<dt class="slds-dl--horizontal__label">
              <span class="slds-truncate" title="Date">Address:</span>
            </dt>
            <dd class="slds-dl--horizontal__detail slds-tile__meta">
              <span class="slds-truncate" title="1/31/15 3:45PM">{{$ctrl.contact.address}}</span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-card__footer">
	<span class="slds-m-right--small" ng-if="$ctrl.deleting">Deleting...</span>
	<button class="slds-button slds-button--brand " ng-click="$ctrl.delete()" ng-disabled="$ctrl.deleting">Delete</button>
  </div>  
</article>