.emailCard {
	border-bottom: 1px solid #d8dde6;
	cursor: pointer;
}

.ng-pristine .ng-invalid-required {
    box-shadow: none;
}

.mb-error-message {
	color: white;
	background-color: rgba(255,57,52,0.5);
}

.mb-error-message svg{
	fill: currentColor;
	cursor: pointer;
}

.slds-spinner_container {
	z-index: 2;
}

.slds-card.slds-card--narrow, create-contact form {
	min-width: 480px;
    max-width: 520px;
	margin-left: auto;
	margin-right: auto;
}

#contacts-container {
	display:flex;
	justify-content: space-around;
}