.slds-card.slds-card--narrow, create-contact form {
	min-width: 480px;
    max-width: 520px;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 1024px) {
    #contacts-container {
		display:flex;
		justify-content: space-around;
	}
}
